body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e5eaf5;
}

header {
  background-color: white; /* Dark green background */
  color: black;
  text-align: center;
  padding: 5px;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
}

.logo {
  width: 60px; 
  margin-right: 10px;
  margin-left: 30px;
}

.title {
  font-size: 20px; 
}

.social-media {
  display: flex;
  justify-content: center;
  background-color: grey;
  padding-top: 8px;
}

.social-media a{
  margin: 0 15px;
}

.social-media img {
  width: 30px; 
  height: 30px;  
}